body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.personal-info{
    margin-top: 125px;
}
.update-info{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    
}
.update-info-bio{
    margin-left: 15px;
}
h1{
    font-weight:700;
    font-size: 50px;
}
h1 span{
    color: orange;
}
h2{
    font-weight: 700;
    font-size: 30px;
}
p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
section{
    margin-bottom: 100px;
}
.container{
    display: flex;
    
}
.half-width{
    width: 35%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-left: 2%;
}
.container-info{
    width: 100%;
    margin-left: 7%;
    margin-right: 5%;
    padding-left: 2%;
}

.container-image{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    /* background-position: left; */
    background-size: 300px;
    background-position-x:left;

}
.mission-header{
    text-align: center;
}
.mission-part1{
    background-color:#EDF5F6;
    padding-left:20px ;
    border-radius: 10px;
    height: 350px;
    width: 25%; 
    margin-right: 2.5%;
}
.mission-part2{
    background-color:#FFEEEE;
    padding-left:20px ;
    border-radius: 10px;
    height: 350px;
    width: 25%; 
    margin-right: 2.5%;
}
.mission-part3{
    background-color:#FFF4D6;
    padding-left:20px ;
    border-radius: 10px;
    height: 350px;
     width: 25%; 
}

.half-develop{
    width: 30%;
    margin-right: 5%;

}
.rest-half-develop{
    width: 50%;
    padding-top: 20px;
}
.half-global{
    width: 45%;
    padding-top: 20px;
    margin-right: 10%;
}
.rest-half-global{
    width: 30%;
}
.global-image{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
     background-position: right; 
    background-size: 200px ;
    background-position-y:bottom;

}

.contact-part{
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 100;
    border: 2px solid black;
}

.btn{
    border: none;
    padding: 30px 20px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: gray;
    margin-left: 10px;

}

.btn1{
    margin-top: 10px;
}
#contact-header{
 padding-bottom: 30px;
}
.footer{
    background-color: #0B0D17;
}
.footer-part{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-part h2{
    color: white;
}
.footer-part h2 span{
    color: #FF5959;
}
.footer-part p{
    color: #A2A4AB;
    font-size: 15px;
}
